result_best_constrast.bmp
resultado_alargamento_imadjust/1.png
octave-workspace
imagem_suavizada.bmp
imagem_realcada.bmp
imagem_suavizada.bmp
espectro_fourier_image.png
img_transformada.png
ruido.png
png_sem_perdas.png
jpg_com_perdas.jpg
images/coins.png
abertura.png
fechamento.png
im_binarizada.png
imagem_dilatada.png
imagem_erodida.bmp
imagem_erodida.png
